* {
  padding: 0;
  margin: 0;
}

html,
body {
  font: 100% Helvetica, sans-serif;
  color: #1b1b1b;
  min-height: 100% !important;
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: radial-gradient(circle, #00a800 0%, #009900 100%);
  background-attachment: fixed;
}

.header {
  position: relative;
  float: left;
  z-index: 999;
}

.header_inner_div {
  position: fixed;
}

.header,
.header_inner_div {
  background-color: #000000;
  height: 11%;
  width: 100%;
}

.name_logo {
  position: relative;
  float: left;
  color: #e9f3fc;
  text-align: center;
  display: block;
  font-size: 175%;
  font-weight: 800;
  padding: 0.5% 4%;
  border: #e9f3fc 5px solid;
  margin-left: -9px;
}
@media screen and (max-height: 500px) and (min-height: 200px) {
  .name_logo {
    font-size: 80%;
    font-weight: 200;
    border-width: 1.5px;
    margin-left: -3px;
  }
}
@media screen and (max-height: 700px) and (min-height: 500px) {
  .name_logo {
    font-size: 145%;
    font-weight: 650;
    border-width: 4px;
    margin-left: -7px;
  }
}
@media screen and (max-height: 900px) and (min-height: 700px) {
  .name_logo {
    font-size: 160%;
    font-weight: 600;
  }
}

.logo_link {
  text-decoration: none !important;
  position: relative;
  float: left;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

.link {
  text-decoration: none !important;
  color: #1b1b1b;
}

.logo_link:hover,
.link:hover {
  color: #7a7a7a;
  opacity: 0.7;
  cursor: pointer;
}

main {
  position: relative;
  float: left;
  height: 89%;
  width: 100%;
}

.inner_main {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1500px) {
  .inner_main {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .inner_main {
    width: 95%;
  }
}
@media screen and (max-width: 1200px) {
  .inner_main {
    width: 100%;
  }
}

.devider {
  position: absolute;
  border: none;
  border-radius: 50px;
  background-color: #808080;
  height: 2px;
  width: 90%;
  margin: 7px 5%;
  bottom: 0;
}

.sidebar {
  position: sticky;
  float: right;
  max-height: 50vh;
  width: 25%;
  top: 150px;
}

.main_content {
  position: relative;
  float: left;
  min-height: 100%;
  width: 75%;
}

.p-0 {
  padding: 0px;
}

.px-0,
.pl-0 {
  padding-left: 0px !important;
}

.px-0,
.pr-0 {
  padding-right: 0px !important;
}

.py-0,
.pt-0 {
  padding-top: 0px !important;
}

.py-0,
.pb-0 {
  padding-bottom: 0px !important;
}

.mx-0,
.ml-0 {
  margin-left: 0px !important;
}

.mx-0,
.mr-0 {
  margin-right: 0px !important;
}

.my-0,
.mt-0 {
  margin-top: 0px !important;
}

.my-0,
.mb-0 {
  margin-bottom: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.p-1 {
  padding: 1px;
}

.px-1,
.pl-1 {
  padding-left: 1px !important;
}

.px-1,
.pr-1 {
  padding-right: 1px !important;
}

.py-1,
.pt-1 {
  padding-top: 1px !important;
}

.py-1,
.pb-1 {
  padding-bottom: 1px !important;
}

.mx-1,
.ml-1 {
  margin-left: 1px !important;
}

.mx-1,
.mr-1 {
  margin-right: 1px !important;
}

.my-1,
.mt-1 {
  margin-top: 1px !important;
}

.my-1,
.mb-1 {
  margin-bottom: 1px !important;
}

.m-1 {
  margin: 1px !important;
}

.p-2 {
  padding: 2px;
}

.px-2,
.pl-2 {
  padding-left: 2px !important;
}

.px-2,
.pr-2 {
  padding-right: 2px !important;
}

.py-2,
.pt-2 {
  padding-top: 2px !important;
}

.py-2,
.pb-2 {
  padding-bottom: 2px !important;
}

.mx-2,
.ml-2 {
  margin-left: 2px !important;
}

.mx-2,
.mr-2 {
  margin-right: 2px !important;
}

.my-2,
.mt-2 {
  margin-top: 2px !important;
}

.my-2,
.mb-2 {
  margin-bottom: 2px !important;
}

.m-2 {
  margin: 2px !important;
}

.p-3 {
  padding: 3px;
}

.px-3,
.pl-3 {
  padding-left: 3px !important;
}

.px-3,
.pr-3 {
  padding-right: 3px !important;
}

.py-3,
.pt-3 {
  padding-top: 3px !important;
}

.py-3,
.pb-3 {
  padding-bottom: 3px !important;
}

.mx-3,
.ml-3 {
  margin-left: 3px !important;
}

.mx-3,
.mr-3 {
  margin-right: 3px !important;
}

.my-3,
.mt-3 {
  margin-top: 3px !important;
}

.my-3,
.mb-3 {
  margin-bottom: 3px !important;
}

.m-3 {
  margin: 3px !important;
}

.p-4 {
  padding: 4px;
}

.px-4,
.pl-4 {
  padding-left: 4px !important;
}

.px-4,
.pr-4 {
  padding-right: 4px !important;
}

.py-4,
.pt-4 {
  padding-top: 4px !important;
}

.py-4,
.pb-4 {
  padding-bottom: 4px !important;
}

.mx-4,
.ml-4 {
  margin-left: 4px !important;
}

.mx-4,
.mr-4 {
  margin-right: 4px !important;
}

.my-4,
.mt-4 {
  margin-top: 4px !important;
}

.my-4,
.mb-4 {
  margin-bottom: 4px !important;
}

.m-4 {
  margin: 4px !important;
}

.p-5 {
  padding: 5px;
}

.px-5,
.pl-5 {
  padding-left: 5px !important;
}

.px-5,
.pr-5 {
  padding-right: 5px !important;
}

.py-5,
.pt-5 {
  padding-top: 5px !important;
}

.py-5,
.pb-5 {
  padding-bottom: 5px !important;
}

.mx-5,
.ml-5 {
  margin-left: 5px !important;
}

.mx-5,
.mr-5 {
  margin-right: 5px !important;
}

.my-5,
.mt-5 {
  margin-top: 5px !important;
}

.my-5,
.mb-5 {
  margin-bottom: 5px !important;
}

.m-5 {
  margin: 5px !important;
}

.p-6 {
  padding: 6px;
}

.px-6,
.pl-6 {
  padding-left: 6px !important;
}

.px-6,
.pr-6 {
  padding-right: 6px !important;
}

.py-6,
.pt-6 {
  padding-top: 6px !important;
}

.py-6,
.pb-6 {
  padding-bottom: 6px !important;
}

.mx-6,
.ml-6 {
  margin-left: 6px !important;
}

.mx-6,
.mr-6 {
  margin-right: 6px !important;
}

.my-6,
.mt-6 {
  margin-top: 6px !important;
}

.my-6,
.mb-6 {
  margin-bottom: 6px !important;
}

.m-6 {
  margin: 6px !important;
}

.p-7 {
  padding: 7px;
}

.px-7,
.pl-7 {
  padding-left: 7px !important;
}

.px-7,
.pr-7 {
  padding-right: 7px !important;
}

.py-7,
.pt-7 {
  padding-top: 7px !important;
}

.py-7,
.pb-7 {
  padding-bottom: 7px !important;
}

.mx-7,
.ml-7 {
  margin-left: 7px !important;
}

.mx-7,
.mr-7 {
  margin-right: 7px !important;
}

.my-7,
.mt-7 {
  margin-top: 7px !important;
}

.my-7,
.mb-7 {
  margin-bottom: 7px !important;
}

.m-7 {
  margin: 7px !important;
}

.p-8 {
  padding: 8px;
}

.px-8,
.pl-8 {
  padding-left: 8px !important;
}

.px-8,
.pr-8 {
  padding-right: 8px !important;
}

.py-8,
.pt-8 {
  padding-top: 8px !important;
}

.py-8,
.pb-8 {
  padding-bottom: 8px !important;
}

.mx-8,
.ml-8 {
  margin-left: 8px !important;
}

.mx-8,
.mr-8 {
  margin-right: 8px !important;
}

.my-8,
.mt-8 {
  margin-top: 8px !important;
}

.my-8,
.mb-8 {
  margin-bottom: 8px !important;
}

.m-8 {
  margin: 8px !important;
}

.p-9 {
  padding: 9px;
}

.px-9,
.pl-9 {
  padding-left: 9px !important;
}

.px-9,
.pr-9 {
  padding-right: 9px !important;
}

.py-9,
.pt-9 {
  padding-top: 9px !important;
}

.py-9,
.pb-9 {
  padding-bottom: 9px !important;
}

.mx-9,
.ml-9 {
  margin-left: 9px !important;
}

.mx-9,
.mr-9 {
  margin-right: 9px !important;
}

.my-9,
.mt-9 {
  margin-top: 9px !important;
}

.my-9,
.mb-9 {
  margin-bottom: 9px !important;
}

.m-9 {
  margin: 9px !important;
}

.p-10 {
  padding: 10px;
}

.px-10,
.pl-10 {
  padding-left: 10px !important;
}

.px-10,
.pr-10 {
  padding-right: 10px !important;
}

.py-10,
.pt-10 {
  padding-top: 10px !important;
}

.py-10,
.pb-10 {
  padding-bottom: 10px !important;
}

.mx-10,
.ml-10 {
  margin-left: 10px !important;
}

.mx-10,
.mr-10 {
  margin-right: 10px !important;
}

.my-10,
.mt-10 {
  margin-top: 10px !important;
}

.my-10,
.mb-10 {
  margin-bottom: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.p-11 {
  padding: 11px;
}

.px-11,
.pl-11 {
  padding-left: 11px !important;
}

.px-11,
.pr-11 {
  padding-right: 11px !important;
}

.py-11,
.pt-11 {
  padding-top: 11px !important;
}

.py-11,
.pb-11 {
  padding-bottom: 11px !important;
}

.mx-11,
.ml-11 {
  margin-left: 11px !important;
}

.mx-11,
.mr-11 {
  margin-right: 11px !important;
}

.my-11,
.mt-11 {
  margin-top: 11px !important;
}

.my-11,
.mb-11 {
  margin-bottom: 11px !important;
}

.m-11 {
  margin: 11px !important;
}

.p-12 {
  padding: 12px;
}

.px-12,
.pl-12 {
  padding-left: 12px !important;
}

.px-12,
.pr-12 {
  padding-right: 12px !important;
}

.py-12,
.pt-12 {
  padding-top: 12px !important;
}

.py-12,
.pb-12 {
  padding-bottom: 12px !important;
}

.mx-12,
.ml-12 {
  margin-left: 12px !important;
}

.mx-12,
.mr-12 {
  margin-right: 12px !important;
}

.my-12,
.mt-12 {
  margin-top: 12px !important;
}

.my-12,
.mb-12 {
  margin-bottom: 12px !important;
}

.m-12 {
  margin: 12px !important;
}

.p-13 {
  padding: 13px;
}

.px-13,
.pl-13 {
  padding-left: 13px !important;
}

.px-13,
.pr-13 {
  padding-right: 13px !important;
}

.py-13,
.pt-13 {
  padding-top: 13px !important;
}

.py-13,
.pb-13 {
  padding-bottom: 13px !important;
}

.mx-13,
.ml-13 {
  margin-left: 13px !important;
}

.mx-13,
.mr-13 {
  margin-right: 13px !important;
}

.my-13,
.mt-13 {
  margin-top: 13px !important;
}

.my-13,
.mb-13 {
  margin-bottom: 13px !important;
}

.m-13 {
  margin: 13px !important;
}

.p-14 {
  padding: 14px;
}

.px-14,
.pl-14 {
  padding-left: 14px !important;
}

.px-14,
.pr-14 {
  padding-right: 14px !important;
}

.py-14,
.pt-14 {
  padding-top: 14px !important;
}

.py-14,
.pb-14 {
  padding-bottom: 14px !important;
}

.mx-14,
.ml-14 {
  margin-left: 14px !important;
}

.mx-14,
.mr-14 {
  margin-right: 14px !important;
}

.my-14,
.mt-14 {
  margin-top: 14px !important;
}

.my-14,
.mb-14 {
  margin-bottom: 14px !important;
}

.m-14 {
  margin: 14px !important;
}

.p-15 {
  padding: 15px;
}

.px-15,
.pl-15 {
  padding-left: 15px !important;
}

.px-15,
.pr-15 {
  padding-right: 15px !important;
}

.py-15,
.pt-15 {
  padding-top: 15px !important;
}

.py-15,
.pb-15 {
  padding-bottom: 15px !important;
}

.mx-15,
.ml-15 {
  margin-left: 15px !important;
}

.mx-15,
.mr-15 {
  margin-right: 15px !important;
}

.my-15,
.mt-15 {
  margin-top: 15px !important;
}

.my-15,
.mb-15 {
  margin-bottom: 15px !important;
}

.m-15 {
  margin: 15px !important;
}

.p-16 {
  padding: 16px;
}

.px-16,
.pl-16 {
  padding-left: 16px !important;
}

.px-16,
.pr-16 {
  padding-right: 16px !important;
}

.py-16,
.pt-16 {
  padding-top: 16px !important;
}

.py-16,
.pb-16 {
  padding-bottom: 16px !important;
}

.mx-16,
.ml-16 {
  margin-left: 16px !important;
}

.mx-16,
.mr-16 {
  margin-right: 16px !important;
}

.my-16,
.mt-16 {
  margin-top: 16px !important;
}

.my-16,
.mb-16 {
  margin-bottom: 16px !important;
}

.m-16 {
  margin: 16px !important;
}

.p-17 {
  padding: 17px;
}

.px-17,
.pl-17 {
  padding-left: 17px !important;
}

.px-17,
.pr-17 {
  padding-right: 17px !important;
}

.py-17,
.pt-17 {
  padding-top: 17px !important;
}

.py-17,
.pb-17 {
  padding-bottom: 17px !important;
}

.mx-17,
.ml-17 {
  margin-left: 17px !important;
}

.mx-17,
.mr-17 {
  margin-right: 17px !important;
}

.my-17,
.mt-17 {
  margin-top: 17px !important;
}

.my-17,
.mb-17 {
  margin-bottom: 17px !important;
}

.m-17 {
  margin: 17px !important;
}

.p-18 {
  padding: 18px;
}

.px-18,
.pl-18 {
  padding-left: 18px !important;
}

.px-18,
.pr-18 {
  padding-right: 18px !important;
}

.py-18,
.pt-18 {
  padding-top: 18px !important;
}

.py-18,
.pb-18 {
  padding-bottom: 18px !important;
}

.mx-18,
.ml-18 {
  margin-left: 18px !important;
}

.mx-18,
.mr-18 {
  margin-right: 18px !important;
}

.my-18,
.mt-18 {
  margin-top: 18px !important;
}

.my-18,
.mb-18 {
  margin-bottom: 18px !important;
}

.m-18 {
  margin: 18px !important;
}

.p-19 {
  padding: 19px;
}

.px-19,
.pl-19 {
  padding-left: 19px !important;
}

.px-19,
.pr-19 {
  padding-right: 19px !important;
}

.py-19,
.pt-19 {
  padding-top: 19px !important;
}

.py-19,
.pb-19 {
  padding-bottom: 19px !important;
}

.mx-19,
.ml-19 {
  margin-left: 19px !important;
}

.mx-19,
.mr-19 {
  margin-right: 19px !important;
}

.my-19,
.mt-19 {
  margin-top: 19px !important;
}

.my-19,
.mb-19 {
  margin-bottom: 19px !important;
}

.m-19 {
  margin: 19px !important;
}

.p-20 {
  padding: 20px;
}

.px-20,
.pl-20 {
  padding-left: 20px !important;
}

.px-20,
.pr-20 {
  padding-right: 20px !important;
}

.py-20,
.pt-20 {
  padding-top: 20px !important;
}

.py-20,
.pb-20 {
  padding-bottom: 20px !important;
}

.mx-20,
.ml-20 {
  margin-left: 20px !important;
}

.mx-20,
.mr-20 {
  margin-right: 20px !important;
}

.my-20,
.mt-20 {
  margin-top: 20px !important;
}

.my-20,
.mb-20 {
  margin-bottom: 20px !important;
}

.m-20 {
  margin: 20px !important;
}

.p-21 {
  padding: 21px;
}

.px-21,
.pl-21 {
  padding-left: 21px !important;
}

.px-21,
.pr-21 {
  padding-right: 21px !important;
}

.py-21,
.pt-21 {
  padding-top: 21px !important;
}

.py-21,
.pb-21 {
  padding-bottom: 21px !important;
}

.mx-21,
.ml-21 {
  margin-left: 21px !important;
}

.mx-21,
.mr-21 {
  margin-right: 21px !important;
}

.my-21,
.mt-21 {
  margin-top: 21px !important;
}

.my-21,
.mb-21 {
  margin-bottom: 21px !important;
}

.m-21 {
  margin: 21px !important;
}

.p-22 {
  padding: 22px;
}

.px-22,
.pl-22 {
  padding-left: 22px !important;
}

.px-22,
.pr-22 {
  padding-right: 22px !important;
}

.py-22,
.pt-22 {
  padding-top: 22px !important;
}

.py-22,
.pb-22 {
  padding-bottom: 22px !important;
}

.mx-22,
.ml-22 {
  margin-left: 22px !important;
}

.mx-22,
.mr-22 {
  margin-right: 22px !important;
}

.my-22,
.mt-22 {
  margin-top: 22px !important;
}

.my-22,
.mb-22 {
  margin-bottom: 22px !important;
}

.m-22 {
  margin: 22px !important;
}

.p-23 {
  padding: 23px;
}

.px-23,
.pl-23 {
  padding-left: 23px !important;
}

.px-23,
.pr-23 {
  padding-right: 23px !important;
}

.py-23,
.pt-23 {
  padding-top: 23px !important;
}

.py-23,
.pb-23 {
  padding-bottom: 23px !important;
}

.mx-23,
.ml-23 {
  margin-left: 23px !important;
}

.mx-23,
.mr-23 {
  margin-right: 23px !important;
}

.my-23,
.mt-23 {
  margin-top: 23px !important;
}

.my-23,
.mb-23 {
  margin-bottom: 23px !important;
}

.m-23 {
  margin: 23px !important;
}

.p-24 {
  padding: 24px;
}

.px-24,
.pl-24 {
  padding-left: 24px !important;
}

.px-24,
.pr-24 {
  padding-right: 24px !important;
}

.py-24,
.pt-24 {
  padding-top: 24px !important;
}

.py-24,
.pb-24 {
  padding-bottom: 24px !important;
}

.mx-24,
.ml-24 {
  margin-left: 24px !important;
}

.mx-24,
.mr-24 {
  margin-right: 24px !important;
}

.my-24,
.mt-24 {
  margin-top: 24px !important;
}

.my-24,
.mb-24 {
  margin-bottom: 24px !important;
}

.m-24 {
  margin: 24px !important;
}

.p-25 {
  padding: 25px;
}

.px-25,
.pl-25 {
  padding-left: 25px !important;
}

.px-25,
.pr-25 {
  padding-right: 25px !important;
}

.py-25,
.pt-25 {
  padding-top: 25px !important;
}

.py-25,
.pb-25 {
  padding-bottom: 25px !important;
}

.mx-25,
.ml-25 {
  margin-left: 25px !important;
}

.mx-25,
.mr-25 {
  margin-right: 25px !important;
}

.my-25,
.mt-25 {
  margin-top: 25px !important;
}

.my-25,
.mb-25 {
  margin-bottom: 25px !important;
}

.m-25 {
  margin: 25px !important;
}

.p-26 {
  padding: 26px;
}

.px-26,
.pl-26 {
  padding-left: 26px !important;
}

.px-26,
.pr-26 {
  padding-right: 26px !important;
}

.py-26,
.pt-26 {
  padding-top: 26px !important;
}

.py-26,
.pb-26 {
  padding-bottom: 26px !important;
}

.mx-26,
.ml-26 {
  margin-left: 26px !important;
}

.mx-26,
.mr-26 {
  margin-right: 26px !important;
}

.my-26,
.mt-26 {
  margin-top: 26px !important;
}

.my-26,
.mb-26 {
  margin-bottom: 26px !important;
}

.m-26 {
  margin: 26px !important;
}

.p-27 {
  padding: 27px;
}

.px-27,
.pl-27 {
  padding-left: 27px !important;
}

.px-27,
.pr-27 {
  padding-right: 27px !important;
}

.py-27,
.pt-27 {
  padding-top: 27px !important;
}

.py-27,
.pb-27 {
  padding-bottom: 27px !important;
}

.mx-27,
.ml-27 {
  margin-left: 27px !important;
}

.mx-27,
.mr-27 {
  margin-right: 27px !important;
}

.my-27,
.mt-27 {
  margin-top: 27px !important;
}

.my-27,
.mb-27 {
  margin-bottom: 27px !important;
}

.m-27 {
  margin: 27px !important;
}

.p-28 {
  padding: 28px;
}

.px-28,
.pl-28 {
  padding-left: 28px !important;
}

.px-28,
.pr-28 {
  padding-right: 28px !important;
}

.py-28,
.pt-28 {
  padding-top: 28px !important;
}

.py-28,
.pb-28 {
  padding-bottom: 28px !important;
}

.mx-28,
.ml-28 {
  margin-left: 28px !important;
}

.mx-28,
.mr-28 {
  margin-right: 28px !important;
}

.my-28,
.mt-28 {
  margin-top: 28px !important;
}

.my-28,
.mb-28 {
  margin-bottom: 28px !important;
}

.m-28 {
  margin: 28px !important;
}

.p-29 {
  padding: 29px;
}

.px-29,
.pl-29 {
  padding-left: 29px !important;
}

.px-29,
.pr-29 {
  padding-right: 29px !important;
}

.py-29,
.pt-29 {
  padding-top: 29px !important;
}

.py-29,
.pb-29 {
  padding-bottom: 29px !important;
}

.mx-29,
.ml-29 {
  margin-left: 29px !important;
}

.mx-29,
.mr-29 {
  margin-right: 29px !important;
}

.my-29,
.mt-29 {
  margin-top: 29px !important;
}

.my-29,
.mb-29 {
  margin-bottom: 29px !important;
}

.m-29 {
  margin: 29px !important;
}

.p-30 {
  padding: 30px;
}

.px-30,
.pl-30 {
  padding-left: 30px !important;
}

.px-30,
.pr-30 {
  padding-right: 30px !important;
}

.py-30,
.pt-30 {
  padding-top: 30px !important;
}

.py-30,
.pb-30 {
  padding-bottom: 30px !important;
}

.mx-30,
.ml-30 {
  margin-left: 30px !important;
}

.mx-30,
.mr-30 {
  margin-right: 30px !important;
}

.my-30,
.mt-30 {
  margin-top: 30px !important;
}

.my-30,
.mb-30 {
  margin-bottom: 30px !important;
}

.m-30 {
  margin: 30px !important;
}

.p-31 {
  padding: 31px;
}

.px-31,
.pl-31 {
  padding-left: 31px !important;
}

.px-31,
.pr-31 {
  padding-right: 31px !important;
}

.py-31,
.pt-31 {
  padding-top: 31px !important;
}

.py-31,
.pb-31 {
  padding-bottom: 31px !important;
}

.mx-31,
.ml-31 {
  margin-left: 31px !important;
}

.mx-31,
.mr-31 {
  margin-right: 31px !important;
}

.my-31,
.mt-31 {
  margin-top: 31px !important;
}

.my-31,
.mb-31 {
  margin-bottom: 31px !important;
}

.m-31 {
  margin: 31px !important;
}

.p-32 {
  padding: 32px;
}

.px-32,
.pl-32 {
  padding-left: 32px !important;
}

.px-32,
.pr-32 {
  padding-right: 32px !important;
}

.py-32,
.pt-32 {
  padding-top: 32px !important;
}

.py-32,
.pb-32 {
  padding-bottom: 32px !important;
}

.mx-32,
.ml-32 {
  margin-left: 32px !important;
}

.mx-32,
.mr-32 {
  margin-right: 32px !important;
}

.my-32,
.mt-32 {
  margin-top: 32px !important;
}

.my-32,
.mb-32 {
  margin-bottom: 32px !important;
}

.m-32 {
  margin: 32px !important;
}

.p-33 {
  padding: 33px;
}

.px-33,
.pl-33 {
  padding-left: 33px !important;
}

.px-33,
.pr-33 {
  padding-right: 33px !important;
}

.py-33,
.pt-33 {
  padding-top: 33px !important;
}

.py-33,
.pb-33 {
  padding-bottom: 33px !important;
}

.mx-33,
.ml-33 {
  margin-left: 33px !important;
}

.mx-33,
.mr-33 {
  margin-right: 33px !important;
}

.my-33,
.mt-33 {
  margin-top: 33px !important;
}

.my-33,
.mb-33 {
  margin-bottom: 33px !important;
}

.m-33 {
  margin: 33px !important;
}

.p-34 {
  padding: 34px;
}

.px-34,
.pl-34 {
  padding-left: 34px !important;
}

.px-34,
.pr-34 {
  padding-right: 34px !important;
}

.py-34,
.pt-34 {
  padding-top: 34px !important;
}

.py-34,
.pb-34 {
  padding-bottom: 34px !important;
}

.mx-34,
.ml-34 {
  margin-left: 34px !important;
}

.mx-34,
.mr-34 {
  margin-right: 34px !important;
}

.my-34,
.mt-34 {
  margin-top: 34px !important;
}

.my-34,
.mb-34 {
  margin-bottom: 34px !important;
}

.m-34 {
  margin: 34px !important;
}

.p-35 {
  padding: 35px;
}

.px-35,
.pl-35 {
  padding-left: 35px !important;
}

.px-35,
.pr-35 {
  padding-right: 35px !important;
}

.py-35,
.pt-35 {
  padding-top: 35px !important;
}

.py-35,
.pb-35 {
  padding-bottom: 35px !important;
}

.mx-35,
.ml-35 {
  margin-left: 35px !important;
}

.mx-35,
.mr-35 {
  margin-right: 35px !important;
}

.my-35,
.mt-35 {
  margin-top: 35px !important;
}

.my-35,
.mb-35 {
  margin-bottom: 35px !important;
}

.m-35 {
  margin: 35px !important;
}

.p-36 {
  padding: 36px;
}

.px-36,
.pl-36 {
  padding-left: 36px !important;
}

.px-36,
.pr-36 {
  padding-right: 36px !important;
}

.py-36,
.pt-36 {
  padding-top: 36px !important;
}

.py-36,
.pb-36 {
  padding-bottom: 36px !important;
}

.mx-36,
.ml-36 {
  margin-left: 36px !important;
}

.mx-36,
.mr-36 {
  margin-right: 36px !important;
}

.my-36,
.mt-36 {
  margin-top: 36px !important;
}

.my-36,
.mb-36 {
  margin-bottom: 36px !important;
}

.m-36 {
  margin: 36px !important;
}

.p-37 {
  padding: 37px;
}

.px-37,
.pl-37 {
  padding-left: 37px !important;
}

.px-37,
.pr-37 {
  padding-right: 37px !important;
}

.py-37,
.pt-37 {
  padding-top: 37px !important;
}

.py-37,
.pb-37 {
  padding-bottom: 37px !important;
}

.mx-37,
.ml-37 {
  margin-left: 37px !important;
}

.mx-37,
.mr-37 {
  margin-right: 37px !important;
}

.my-37,
.mt-37 {
  margin-top: 37px !important;
}

.my-37,
.mb-37 {
  margin-bottom: 37px !important;
}

.m-37 {
  margin: 37px !important;
}

.p-38 {
  padding: 38px;
}

.px-38,
.pl-38 {
  padding-left: 38px !important;
}

.px-38,
.pr-38 {
  padding-right: 38px !important;
}

.py-38,
.pt-38 {
  padding-top: 38px !important;
}

.py-38,
.pb-38 {
  padding-bottom: 38px !important;
}

.mx-38,
.ml-38 {
  margin-left: 38px !important;
}

.mx-38,
.mr-38 {
  margin-right: 38px !important;
}

.my-38,
.mt-38 {
  margin-top: 38px !important;
}

.my-38,
.mb-38 {
  margin-bottom: 38px !important;
}

.m-38 {
  margin: 38px !important;
}

.p-39 {
  padding: 39px;
}

.px-39,
.pl-39 {
  padding-left: 39px !important;
}

.px-39,
.pr-39 {
  padding-right: 39px !important;
}

.py-39,
.pt-39 {
  padding-top: 39px !important;
}

.py-39,
.pb-39 {
  padding-bottom: 39px !important;
}

.mx-39,
.ml-39 {
  margin-left: 39px !important;
}

.mx-39,
.mr-39 {
  margin-right: 39px !important;
}

.my-39,
.mt-39 {
  margin-top: 39px !important;
}

.my-39,
.mb-39 {
  margin-bottom: 39px !important;
}

.m-39 {
  margin: 39px !important;
}

.p-40 {
  padding: 40px;
}

.px-40,
.pl-40 {
  padding-left: 40px !important;
}

.px-40,
.pr-40 {
  padding-right: 40px !important;
}

.py-40,
.pt-40 {
  padding-top: 40px !important;
}

.py-40,
.pb-40 {
  padding-bottom: 40px !important;
}

.mx-40,
.ml-40 {
  margin-left: 40px !important;
}

.mx-40,
.mr-40 {
  margin-right: 40px !important;
}

.my-40,
.mt-40 {
  margin-top: 40px !important;
}

.my-40,
.mb-40 {
  margin-bottom: 40px !important;
}

.m-40 {
  margin: 40px !important;
}

.p-41 {
  padding: 41px;
}

.px-41,
.pl-41 {
  padding-left: 41px !important;
}

.px-41,
.pr-41 {
  padding-right: 41px !important;
}

.py-41,
.pt-41 {
  padding-top: 41px !important;
}

.py-41,
.pb-41 {
  padding-bottom: 41px !important;
}

.mx-41,
.ml-41 {
  margin-left: 41px !important;
}

.mx-41,
.mr-41 {
  margin-right: 41px !important;
}

.my-41,
.mt-41 {
  margin-top: 41px !important;
}

.my-41,
.mb-41 {
  margin-bottom: 41px !important;
}

.m-41 {
  margin: 41px !important;
}

.p-42 {
  padding: 42px;
}

.px-42,
.pl-42 {
  padding-left: 42px !important;
}

.px-42,
.pr-42 {
  padding-right: 42px !important;
}

.py-42,
.pt-42 {
  padding-top: 42px !important;
}

.py-42,
.pb-42 {
  padding-bottom: 42px !important;
}

.mx-42,
.ml-42 {
  margin-left: 42px !important;
}

.mx-42,
.mr-42 {
  margin-right: 42px !important;
}

.my-42,
.mt-42 {
  margin-top: 42px !important;
}

.my-42,
.mb-42 {
  margin-bottom: 42px !important;
}

.m-42 {
  margin: 42px !important;
}

.p-43 {
  padding: 43px;
}

.px-43,
.pl-43 {
  padding-left: 43px !important;
}

.px-43,
.pr-43 {
  padding-right: 43px !important;
}

.py-43,
.pt-43 {
  padding-top: 43px !important;
}

.py-43,
.pb-43 {
  padding-bottom: 43px !important;
}

.mx-43,
.ml-43 {
  margin-left: 43px !important;
}

.mx-43,
.mr-43 {
  margin-right: 43px !important;
}

.my-43,
.mt-43 {
  margin-top: 43px !important;
}

.my-43,
.mb-43 {
  margin-bottom: 43px !important;
}

.m-43 {
  margin: 43px !important;
}

.p-44 {
  padding: 44px;
}

.px-44,
.pl-44 {
  padding-left: 44px !important;
}

.px-44,
.pr-44 {
  padding-right: 44px !important;
}

.py-44,
.pt-44 {
  padding-top: 44px !important;
}

.py-44,
.pb-44 {
  padding-bottom: 44px !important;
}

.mx-44,
.ml-44 {
  margin-left: 44px !important;
}

.mx-44,
.mr-44 {
  margin-right: 44px !important;
}

.my-44,
.mt-44 {
  margin-top: 44px !important;
}

.my-44,
.mb-44 {
  margin-bottom: 44px !important;
}

.m-44 {
  margin: 44px !important;
}

.p-45 {
  padding: 45px;
}

.px-45,
.pl-45 {
  padding-left: 45px !important;
}

.px-45,
.pr-45 {
  padding-right: 45px !important;
}

.py-45,
.pt-45 {
  padding-top: 45px !important;
}

.py-45,
.pb-45 {
  padding-bottom: 45px !important;
}

.mx-45,
.ml-45 {
  margin-left: 45px !important;
}

.mx-45,
.mr-45 {
  margin-right: 45px !important;
}

.my-45,
.mt-45 {
  margin-top: 45px !important;
}

.my-45,
.mb-45 {
  margin-bottom: 45px !important;
}

.m-45 {
  margin: 45px !important;
}

.p-46 {
  padding: 46px;
}

.px-46,
.pl-46 {
  padding-left: 46px !important;
}

.px-46,
.pr-46 {
  padding-right: 46px !important;
}

.py-46,
.pt-46 {
  padding-top: 46px !important;
}

.py-46,
.pb-46 {
  padding-bottom: 46px !important;
}

.mx-46,
.ml-46 {
  margin-left: 46px !important;
}

.mx-46,
.mr-46 {
  margin-right: 46px !important;
}

.my-46,
.mt-46 {
  margin-top: 46px !important;
}

.my-46,
.mb-46 {
  margin-bottom: 46px !important;
}

.m-46 {
  margin: 46px !important;
}

.p-47 {
  padding: 47px;
}

.px-47,
.pl-47 {
  padding-left: 47px !important;
}

.px-47,
.pr-47 {
  padding-right: 47px !important;
}

.py-47,
.pt-47 {
  padding-top: 47px !important;
}

.py-47,
.pb-47 {
  padding-bottom: 47px !important;
}

.mx-47,
.ml-47 {
  margin-left: 47px !important;
}

.mx-47,
.mr-47 {
  margin-right: 47px !important;
}

.my-47,
.mt-47 {
  margin-top: 47px !important;
}

.my-47,
.mb-47 {
  margin-bottom: 47px !important;
}

.m-47 {
  margin: 47px !important;
}

.p-48 {
  padding: 48px;
}

.px-48,
.pl-48 {
  padding-left: 48px !important;
}

.px-48,
.pr-48 {
  padding-right: 48px !important;
}

.py-48,
.pt-48 {
  padding-top: 48px !important;
}

.py-48,
.pb-48 {
  padding-bottom: 48px !important;
}

.mx-48,
.ml-48 {
  margin-left: 48px !important;
}

.mx-48,
.mr-48 {
  margin-right: 48px !important;
}

.my-48,
.mt-48 {
  margin-top: 48px !important;
}

.my-48,
.mb-48 {
  margin-bottom: 48px !important;
}

.m-48 {
  margin: 48px !important;
}

.p-49 {
  padding: 49px;
}

.px-49,
.pl-49 {
  padding-left: 49px !important;
}

.px-49,
.pr-49 {
  padding-right: 49px !important;
}

.py-49,
.pt-49 {
  padding-top: 49px !important;
}

.py-49,
.pb-49 {
  padding-bottom: 49px !important;
}

.mx-49,
.ml-49 {
  margin-left: 49px !important;
}

.mx-49,
.mr-49 {
  margin-right: 49px !important;
}

.my-49,
.mt-49 {
  margin-top: 49px !important;
}

.my-49,
.mb-49 {
  margin-bottom: 49px !important;
}

.m-49 {
  margin: 49px !important;
}

.p-50 {
  padding: 50px;
}

.px-50,
.pl-50 {
  padding-left: 50px !important;
}

.px-50,
.pr-50 {
  padding-right: 50px !important;
}

.py-50,
.pt-50 {
  padding-top: 50px !important;
}

.py-50,
.pb-50 {
  padding-bottom: 50px !important;
}

.mx-50,
.ml-50 {
  margin-left: 50px !important;
}

.mx-50,
.mr-50 {
  margin-right: 50px !important;
}

.my-50,
.mt-50 {
  margin-top: 50px !important;
}

.my-50,
.mb-50 {
  margin-bottom: 50px !important;
}

.m-50 {
  margin: 50px !important;
}

.p-51 {
  padding: 51px;
}

.px-51,
.pl-51 {
  padding-left: 51px !important;
}

.px-51,
.pr-51 {
  padding-right: 51px !important;
}

.py-51,
.pt-51 {
  padding-top: 51px !important;
}

.py-51,
.pb-51 {
  padding-bottom: 51px !important;
}

.mx-51,
.ml-51 {
  margin-left: 51px !important;
}

.mx-51,
.mr-51 {
  margin-right: 51px !important;
}

.my-51,
.mt-51 {
  margin-top: 51px !important;
}

.my-51,
.mb-51 {
  margin-bottom: 51px !important;
}

.m-51 {
  margin: 51px !important;
}

.p-52 {
  padding: 52px;
}

.px-52,
.pl-52 {
  padding-left: 52px !important;
}

.px-52,
.pr-52 {
  padding-right: 52px !important;
}

.py-52,
.pt-52 {
  padding-top: 52px !important;
}

.py-52,
.pb-52 {
  padding-bottom: 52px !important;
}

.mx-52,
.ml-52 {
  margin-left: 52px !important;
}

.mx-52,
.mr-52 {
  margin-right: 52px !important;
}

.my-52,
.mt-52 {
  margin-top: 52px !important;
}

.my-52,
.mb-52 {
  margin-bottom: 52px !important;
}

.m-52 {
  margin: 52px !important;
}

.p-53 {
  padding: 53px;
}

.px-53,
.pl-53 {
  padding-left: 53px !important;
}

.px-53,
.pr-53 {
  padding-right: 53px !important;
}

.py-53,
.pt-53 {
  padding-top: 53px !important;
}

.py-53,
.pb-53 {
  padding-bottom: 53px !important;
}

.mx-53,
.ml-53 {
  margin-left: 53px !important;
}

.mx-53,
.mr-53 {
  margin-right: 53px !important;
}

.my-53,
.mt-53 {
  margin-top: 53px !important;
}

.my-53,
.mb-53 {
  margin-bottom: 53px !important;
}

.m-53 {
  margin: 53px !important;
}

.p-54 {
  padding: 54px;
}

.px-54,
.pl-54 {
  padding-left: 54px !important;
}

.px-54,
.pr-54 {
  padding-right: 54px !important;
}

.py-54,
.pt-54 {
  padding-top: 54px !important;
}

.py-54,
.pb-54 {
  padding-bottom: 54px !important;
}

.mx-54,
.ml-54 {
  margin-left: 54px !important;
}

.mx-54,
.mr-54 {
  margin-right: 54px !important;
}

.my-54,
.mt-54 {
  margin-top: 54px !important;
}

.my-54,
.mb-54 {
  margin-bottom: 54px !important;
}

.m-54 {
  margin: 54px !important;
}

.p-55 {
  padding: 55px;
}

.px-55,
.pl-55 {
  padding-left: 55px !important;
}

.px-55,
.pr-55 {
  padding-right: 55px !important;
}

.py-55,
.pt-55 {
  padding-top: 55px !important;
}

.py-55,
.pb-55 {
  padding-bottom: 55px !important;
}

.mx-55,
.ml-55 {
  margin-left: 55px !important;
}

.mx-55,
.mr-55 {
  margin-right: 55px !important;
}

.my-55,
.mt-55 {
  margin-top: 55px !important;
}

.my-55,
.mb-55 {
  margin-bottom: 55px !important;
}

.m-55 {
  margin: 55px !important;
}

.p-56 {
  padding: 56px;
}

.px-56,
.pl-56 {
  padding-left: 56px !important;
}

.px-56,
.pr-56 {
  padding-right: 56px !important;
}

.py-56,
.pt-56 {
  padding-top: 56px !important;
}

.py-56,
.pb-56 {
  padding-bottom: 56px !important;
}

.mx-56,
.ml-56 {
  margin-left: 56px !important;
}

.mx-56,
.mr-56 {
  margin-right: 56px !important;
}

.my-56,
.mt-56 {
  margin-top: 56px !important;
}

.my-56,
.mb-56 {
  margin-bottom: 56px !important;
}

.m-56 {
  margin: 56px !important;
}

.p-57 {
  padding: 57px;
}

.px-57,
.pl-57 {
  padding-left: 57px !important;
}

.px-57,
.pr-57 {
  padding-right: 57px !important;
}

.py-57,
.pt-57 {
  padding-top: 57px !important;
}

.py-57,
.pb-57 {
  padding-bottom: 57px !important;
}

.mx-57,
.ml-57 {
  margin-left: 57px !important;
}

.mx-57,
.mr-57 {
  margin-right: 57px !important;
}

.my-57,
.mt-57 {
  margin-top: 57px !important;
}

.my-57,
.mb-57 {
  margin-bottom: 57px !important;
}

.m-57 {
  margin: 57px !important;
}

.p-58 {
  padding: 58px;
}

.px-58,
.pl-58 {
  padding-left: 58px !important;
}

.px-58,
.pr-58 {
  padding-right: 58px !important;
}

.py-58,
.pt-58 {
  padding-top: 58px !important;
}

.py-58,
.pb-58 {
  padding-bottom: 58px !important;
}

.mx-58,
.ml-58 {
  margin-left: 58px !important;
}

.mx-58,
.mr-58 {
  margin-right: 58px !important;
}

.my-58,
.mt-58 {
  margin-top: 58px !important;
}

.my-58,
.mb-58 {
  margin-bottom: 58px !important;
}

.m-58 {
  margin: 58px !important;
}

.p-59 {
  padding: 59px;
}

.px-59,
.pl-59 {
  padding-left: 59px !important;
}

.px-59,
.pr-59 {
  padding-right: 59px !important;
}

.py-59,
.pt-59 {
  padding-top: 59px !important;
}

.py-59,
.pb-59 {
  padding-bottom: 59px !important;
}

.mx-59,
.ml-59 {
  margin-left: 59px !important;
}

.mx-59,
.mr-59 {
  margin-right: 59px !important;
}

.my-59,
.mt-59 {
  margin-top: 59px !important;
}

.my-59,
.mb-59 {
  margin-bottom: 59px !important;
}

.m-59 {
  margin: 59px !important;
}

.p-60 {
  padding: 60px;
}

.px-60,
.pl-60 {
  padding-left: 60px !important;
}

.px-60,
.pr-60 {
  padding-right: 60px !important;
}

.py-60,
.pt-60 {
  padding-top: 60px !important;
}

.py-60,
.pb-60 {
  padding-bottom: 60px !important;
}

.mx-60,
.ml-60 {
  margin-left: 60px !important;
}

.mx-60,
.mr-60 {
  margin-right: 60px !important;
}

.my-60,
.mt-60 {
  margin-top: 60px !important;
}

.my-60,
.mb-60 {
  margin-bottom: 60px !important;
}

.m-60 {
  margin: 60px !important;
}

.p-61 {
  padding: 61px;
}

.px-61,
.pl-61 {
  padding-left: 61px !important;
}

.px-61,
.pr-61 {
  padding-right: 61px !important;
}

.py-61,
.pt-61 {
  padding-top: 61px !important;
}

.py-61,
.pb-61 {
  padding-bottom: 61px !important;
}

.mx-61,
.ml-61 {
  margin-left: 61px !important;
}

.mx-61,
.mr-61 {
  margin-right: 61px !important;
}

.my-61,
.mt-61 {
  margin-top: 61px !important;
}

.my-61,
.mb-61 {
  margin-bottom: 61px !important;
}

.m-61 {
  margin: 61px !important;
}

.p-62 {
  padding: 62px;
}

.px-62,
.pl-62 {
  padding-left: 62px !important;
}

.px-62,
.pr-62 {
  padding-right: 62px !important;
}

.py-62,
.pt-62 {
  padding-top: 62px !important;
}

.py-62,
.pb-62 {
  padding-bottom: 62px !important;
}

.mx-62,
.ml-62 {
  margin-left: 62px !important;
}

.mx-62,
.mr-62 {
  margin-right: 62px !important;
}

.my-62,
.mt-62 {
  margin-top: 62px !important;
}

.my-62,
.mb-62 {
  margin-bottom: 62px !important;
}

.m-62 {
  margin: 62px !important;
}

.p-63 {
  padding: 63px;
}

.px-63,
.pl-63 {
  padding-left: 63px !important;
}

.px-63,
.pr-63 {
  padding-right: 63px !important;
}

.py-63,
.pt-63 {
  padding-top: 63px !important;
}

.py-63,
.pb-63 {
  padding-bottom: 63px !important;
}

.mx-63,
.ml-63 {
  margin-left: 63px !important;
}

.mx-63,
.mr-63 {
  margin-right: 63px !important;
}

.my-63,
.mt-63 {
  margin-top: 63px !important;
}

.my-63,
.mb-63 {
  margin-bottom: 63px !important;
}

.m-63 {
  margin: 63px !important;
}

.p-64 {
  padding: 64px;
}

.px-64,
.pl-64 {
  padding-left: 64px !important;
}

.px-64,
.pr-64 {
  padding-right: 64px !important;
}

.py-64,
.pt-64 {
  padding-top: 64px !important;
}

.py-64,
.pb-64 {
  padding-bottom: 64px !important;
}

.mx-64,
.ml-64 {
  margin-left: 64px !important;
}

.mx-64,
.mr-64 {
  margin-right: 64px !important;
}

.my-64,
.mt-64 {
  margin-top: 64px !important;
}

.my-64,
.mb-64 {
  margin-bottom: 64px !important;
}

.m-64 {
  margin: 64px !important;
}

.p-65 {
  padding: 65px;
}

.px-65,
.pl-65 {
  padding-left: 65px !important;
}

.px-65,
.pr-65 {
  padding-right: 65px !important;
}

.py-65,
.pt-65 {
  padding-top: 65px !important;
}

.py-65,
.pb-65 {
  padding-bottom: 65px !important;
}

.mx-65,
.ml-65 {
  margin-left: 65px !important;
}

.mx-65,
.mr-65 {
  margin-right: 65px !important;
}

.my-65,
.mt-65 {
  margin-top: 65px !important;
}

.my-65,
.mb-65 {
  margin-bottom: 65px !important;
}

.m-65 {
  margin: 65px !important;
}

.p-66 {
  padding: 66px;
}

.px-66,
.pl-66 {
  padding-left: 66px !important;
}

.px-66,
.pr-66 {
  padding-right: 66px !important;
}

.py-66,
.pt-66 {
  padding-top: 66px !important;
}

.py-66,
.pb-66 {
  padding-bottom: 66px !important;
}

.mx-66,
.ml-66 {
  margin-left: 66px !important;
}

.mx-66,
.mr-66 {
  margin-right: 66px !important;
}

.my-66,
.mt-66 {
  margin-top: 66px !important;
}

.my-66,
.mb-66 {
  margin-bottom: 66px !important;
}

.m-66 {
  margin: 66px !important;
}

.p-67 {
  padding: 67px;
}

.px-67,
.pl-67 {
  padding-left: 67px !important;
}

.px-67,
.pr-67 {
  padding-right: 67px !important;
}

.py-67,
.pt-67 {
  padding-top: 67px !important;
}

.py-67,
.pb-67 {
  padding-bottom: 67px !important;
}

.mx-67,
.ml-67 {
  margin-left: 67px !important;
}

.mx-67,
.mr-67 {
  margin-right: 67px !important;
}

.my-67,
.mt-67 {
  margin-top: 67px !important;
}

.my-67,
.mb-67 {
  margin-bottom: 67px !important;
}

.m-67 {
  margin: 67px !important;
}

.p-68 {
  padding: 68px;
}

.px-68,
.pl-68 {
  padding-left: 68px !important;
}

.px-68,
.pr-68 {
  padding-right: 68px !important;
}

.py-68,
.pt-68 {
  padding-top: 68px !important;
}

.py-68,
.pb-68 {
  padding-bottom: 68px !important;
}

.mx-68,
.ml-68 {
  margin-left: 68px !important;
}

.mx-68,
.mr-68 {
  margin-right: 68px !important;
}

.my-68,
.mt-68 {
  margin-top: 68px !important;
}

.my-68,
.mb-68 {
  margin-bottom: 68px !important;
}

.m-68 {
  margin: 68px !important;
}

.p-69 {
  padding: 69px;
}

.px-69,
.pl-69 {
  padding-left: 69px !important;
}

.px-69,
.pr-69 {
  padding-right: 69px !important;
}

.py-69,
.pt-69 {
  padding-top: 69px !important;
}

.py-69,
.pb-69 {
  padding-bottom: 69px !important;
}

.mx-69,
.ml-69 {
  margin-left: 69px !important;
}

.mx-69,
.mr-69 {
  margin-right: 69px !important;
}

.my-69,
.mt-69 {
  margin-top: 69px !important;
}

.my-69,
.mb-69 {
  margin-bottom: 69px !important;
}

.m-69 {
  margin: 69px !important;
}

.p-70 {
  padding: 70px;
}

.px-70,
.pl-70 {
  padding-left: 70px !important;
}

.px-70,
.pr-70 {
  padding-right: 70px !important;
}

.py-70,
.pt-70 {
  padding-top: 70px !important;
}

.py-70,
.pb-70 {
  padding-bottom: 70px !important;
}

.mx-70,
.ml-70 {
  margin-left: 70px !important;
}

.mx-70,
.mr-70 {
  margin-right: 70px !important;
}

.my-70,
.mt-70 {
  margin-top: 70px !important;
}

.my-70,
.mb-70 {
  margin-bottom: 70px !important;
}

.m-70 {
  margin: 70px !important;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0% !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.bs-border-box {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.border-radius-0 {
  border-radius: 0rem;
}

.border-radius-1 {
  border-radius: 1rem;
}

.border-radius-2 {
  border-radius: 2rem;
}

.border-radius-3 {
  border-radius: 3rem;
}

.border-radius-4 {
  border-radius: 4rem;
}

.border-radius-5 {
  border-radius: 5rem;
}

.border-side {
  border: #ffffff 3px solid;
}

.bg-grey {
  background-color: #ffffff;
}

.devider_side {
  position: relative;
  float: left;
  border: none;
  border-radius: 50px;
  background-color: #808080;
  height: 2px;
  width: 100%;
  margin: 7px -4px;
}

.page_name {
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #e9f3fc;
}

.button_style {
  background-color: #1c1c1c;
  color: #e9f3fc;
  min-width: 5%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 100%;
}

.display-inline-block {
  display: inline-block;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
}

.align-center {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_form {
  width: 30%;
}
@media screen and (max-height: 500px) and (min-height: 200px) {
  .login_form {
    width: 80%;
  }
}
@media screen and (max-height: 700px) and (min-height: 500px) {
  .login_form {
    width: 60%;
  }
}
@media screen and (max-height: 900px) and (min-height: 700px) {
  .login_form {
    width: 50%;
  }
}
@media screen and (max-height: 1200px) and (min-height: 900px) {
  .login_form {
    width: 40%;
  }
}

.text-center {
  text-align: center;
}

.login_button {
  position: relative;
  float: left;
  bottom: -85%;
}

.float_left {
  position: relative;
  float: left;
  margin: 0 4.8%;
}

.bottom-0 {
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
